// colores base
$primary: #e81414;
$black: #000;
$white: #fff;

$secundary: #2d2d2d;

$primary-ligth: rgba(232, 20, 20, 0.4);

// fuente

$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

$fs-10xl: 4.11rem;
$fs-9xl: 3.653rem;
$fs-8xl: 3.247rem;
$fs-7xl: 2.887rem;
$fs-6xl: 2.566rem;
$fs-5xl: 2.281rem;
$fs-4xl: 2.027rem;
$fs-3xl: 1.802rem;
$fs-2xl: 1.602rem;
$fs-xl: 1.424rem;
$fs-lg: 1.266rem;
$fs-md: 1.125rem;
$fs-base: 1rem;
$fs-sm: 0.889rem;
$fs-xs: 0.79rem;
$fs-caption: 0.702rem;
// $fs-caption: 0.624rem;
