* {
	text-decoration: none;
	list-style: none;
	// border: 1px dotted rgb(236, 8, 168);
	text-transform: initial;
}
.content {
}

ul,
ol {
	margin: 0 !important;
	padding: 0 !important;
}

.row {
	margin: 0;
}
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
	background-color: rgba(128, 128, 128, 0.8) !important;
}

button,
a {
	text-transform: initial !important;
}

html {
	font-size: 14px;
}

@media screen and (min-width: $sm) {
	html {
		font-size: 14px;
	}
}
@media screen and (min-width: $md) {
	html {
		font-size: 15px;
	}
}
@media screen and (min-width: $lg) {
	html {
		font-size: 16px;
	}

	// body {
	// 	background: white;
	// 	font-family: 'Hanken Grotesk', sans-serif;
	// 	font-weight: 400;
	// 	line-height: 1.75;
	// 	color: #000000;
	// }

	// p {
	// 	margin-bottom: 1rem;
	// }

	// h1,
	// h2,
	// h3,
	// h4,
	// h5 {
	// 	margin: 3rem 0 1.38rem;
	// 	font-family: 'Hanken Grotesk', sans-serif;
	// }

	.fs-4xl,
	.fs-3xl,
	.fs-2xl,
	.fs-xl,
	.fs-lg,
	.fs-md,
	.fs-base,
	.fs-sm,
	.fs-xs,
	.fs-caption {
		// font-weight: 400;
		line-height: 1.3;
		// color: #000000;
	}

	.fs-6xl {
		font-size: $fs-6xl;
	}
	.fs-5xl {
		font-size: $fs-5xl;
	}
	.fs-4xl {
		font-size: $fs-4xl;
	}

	.fs-3xl {
		font-size: $fs-3xl;
	}

	.fs-2xl {
		font-size: $fs-2xl;
	}

	.fs-xl {
		font-size: $fs-xl;
	}

	.fs-lg {
		font-size: $fs-lg;
	}

	.fs-md {
		font-size: $fs-md;
	}

	.fs-base {
		font-size: $fs-base;
	}

	.fs-sm {
		font-size: $fs-sm;
	}

	.fs-xs {
		font-size: $fs-xs;
	}

	.fs-caption {
		font-size: $fs-caption;
	}
}
