// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 14px;

$body-font-family: 'Roboto';
$btn-font-weight: 400;
// $text-field-outlined-fieldset-border: 3px solid;
$grid-breakpoints: (
	// 'xs': 0,
	// 'sm': 480px,
	// 'md': 864px,
	// 'lg': 1264px,
	// 'xl': 1440px,
);

// $material-light: (
// 	'text-fields': (
// 		'outlined': rgba(74, 166, 90, 1),
// 		'outlined-hover': rgba(0, 0, 0, 1),
// 	),
// );
